@model IEnumerable<BaseModel.Materia>

@{
    ViewBag.Title = "Materias";
}

<h2>Materias</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._LoginID.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._LoginID.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Atividades", "../Atividade/Index", new { id = item.MateriaID })|
            @Html.ActionLink("Editar", "Edit", new { id=item.MateriaID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.MateriaID }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.MateriaID })
        </td>
    </tr>
}

</table>
