@model BaseModel.Atividade

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Atividade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._MateriaID.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._MateriaID.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Tipo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Tipo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AtividadeID }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
