@model IEnumerable<BaseModel.Atividade>

@{
    ViewBag.Title = "Atividades";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar nova", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._MateriaID.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Tipo.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._MateriaID.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Tipo.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AtividadeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AtividadeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AtividadeID })
        </td>
    </tr>
}

</table>
